
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

header {
    background-color: #ffffff;
    box-shadow: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    margin: 0 30px;
    border-bottom: 4px solid #646549;
}

.logo img {
    width: 66px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 80px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333 !important;
    font-size: 20px;
    font-weight: normal;
}

nav ul li a[href="DONACIONES.html"] {
    font-weight: bold;
}

nav ul li a:hover {
    font-weight: bold;
    cursor: pointer;
}

main {
    margin: 0 5em;
}

#phrase {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px !important;
}

.p1d1 {
    display: flex;
    flex-direction: row;
    padding-top: 3em;
    text-align: justify;
}

.p1d2 {
    display: flex;
    flex-direction: column;
}

.p1 h3 {
    text-align: center;
    width: 35%;
    background-color: #AC6537;
    padding: 6px 3em;
    color: #ffffff;
    border-radius: 20px;
    align-self: center;
}

#prgh1, .btn-container {
    padding-right: 5em;
    padding-top: 1em;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#btn1 {
    border: 3px solid #656549;
    border-radius: 20px;
    background-color: #ffffff;
    width: 25%;
    padding: 5px;
    font-size: 15px;
    color: #656549;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
}

#imgd1 {
    max-width: 400px;
}

/*Div 2*/

.p2 {
    padding-top: 2em;
}

.sbt2 {
    text-align: center;
    width: 25%;
    background-color: #656549;
    padding: 6px 3em;
    color: #ffffff;
    border-radius: 20px;
    align-self: center;
}

#prgh2 {
    padding-top: 2em;
}

#sp1 {
    font-weight: 900;
}

.p2d1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.donate-container {
    width: 15em;
    border: 3px solid #656549;
    border-radius: 20px;
    margin: 2em 4em;
    padding: 2em;
    color: #646549;
    text-align: center;
}

/*Div 3*/

.p3 h3 {
    text-align: center;
    width: 25%;
    background-color: #C2ABB2;
    padding: 6px 3em;
    color: #ffffff;
    border-radius: 20px;
    align-self: center;
}

.p3d1 {
    display: flex;
    flex-direction: row;
}

.p3d2 {
    display: flex;
    flex-direction: column;
    padding: 0 15em 0 2em;
}

#prgh3 {
    color: #49392C;
    font-weight: 900;
}

#imgd2 {
    max-width: 170px;
}

/*DIv 4*/

.p4 {
    padding-top: 2em;
}

.p4 h3 {
    text-align: center;
    width: 20%;
    background-color: #49392C;
    padding: 6px 3em;
    color: #ffffff;
    border-radius: 20px;
    align-self: center;
}

.p4d1 {
    display: flex;
    flex-direction: row;
}

.p4d2 {
    display: flex;
    flex-direction: column;
    padding: 0 4em 0 2em;
}

#imgd3 {
    max-width: 550px;
}

/*Div 5 y Div 6*/

.p5, .p6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
}

.catfet-container {
    border: 3px solid #646549;
    flex: 1;
    padding: 1em;
    border-radius: 20px;
    margin: 0 0 0.5em 0;
}

.sbt5 {
    color: #646549;
    margin: 0 0 0.5em 0;
}

#imgd4, #imgd5 {
    max-width: 250px;
    padding: 2em 6em;
}

/*Links*/

a:link {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #656549;
    text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    main {
        margin: 0 2em;
    }

    .p1d1, .p2d1, .p3d1, .p4d1, .p5, .p6 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .p1 h3, .sbt2, .p3 h3, .p4 h3 {
        width: auto;
        padding: 6px 2em;
    }

    #prgh1, .btn-container {
        padding-right: 0;
        padding-top: 1em;
    }

    #btn1 {
        width: auto;
        padding: 10px 20px;
    }

    .p3d2, .p4d2 {
        padding: 0;
    }

    #imgd1, #imgd2, #imgd3, #imgd4, #imgd5 {
        max-width: 100%;
        padding: 1em;
    }

    .donate-container, .catfet-container {
        margin: 2em 0;
    }
}

@media screen and (max-width: 768px) {
    .p1 p, #prgh1, #prgh2, .p3 p, .p4d2 p{
        text-align: justify;
    }

    .catfet-container {
        padding: 0.5em;
        text-align: center;
    }

    #imgd4, #imgd5 {
        width: 100%;
        max-width: 200px;
    }
}
